<div class="card">
  <div class="card-header" data-background-color="purple">
    <h4 class="title">Latest Applicants <span style="text-align:right; margin-left:130px; font-size:14px;"><a href="#"><b>View All</b></a></span> </h4><!--
                                    <p class="category">Here is a subtitle for this table</p> -->
  </div>
  <div class="card-content table-responsive">
    <table class="table table-striped">
      <thead class="text-primary">
      <th>Name</th>
      <th>Job</th>
      <th>Status</th>
      <th>Action</th>
      </thead>
      <tbody>
      <tr>
        <td>Dakota</td>
        <td>Niger</td>
        <td>Awaiting Feedback</td>
        <td>
          <div class="dropdown">
            <a type="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Action</b>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-left" style="margin-right: -108px; margin-left: -108px;">
              <li>
                <a href="#">Scheduled Interview</a>
              </li>
              <li>
                <a href="#">Requirement Mismatch</a>
              </li>
              <li>
                <a href="#">Hold</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td>Minerva</td>
        <td>Curaçao</td>
        <td>Interviewing</td>
        <td>
          <div class="dropdown">
            <a type="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Action</b>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-left" style="margin-right: -108px; margin-left: -108px;">
              <li>
                <a href="#">Postpone</a>
              </li>
              <li>
                <a href="#">Next Round Call</a>
              </li>
              <li>
                <a href="#">Selected</a>
              </li>
              <li>
                <a href="#">Rejected</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td>Sage</td>
        <td>Netherlands</td>
        <td>Offer</td>
        <td>
          <div class="dropdown">
            <a type="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Action</b>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-left" style="margin-right: -108px; margin-left: -108px;">
              <li>
                <a href="#">Send</a>
              </li>
              <li>
                <a href="#">Revise</a>
              </li>
              <li>
                <a href="#">Confirm</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>