<div class="card">
  <div class="card-header" data-background-color="purple">
    <h4 class="title">Engagement Requests <span style="text-align:right; margin-left:70px; font-size:14px;"><a href="engagement_list.html"><b>View All</b></a></span></h4>
  </div>
  <div class="card-content table-responsive">
    <table class="table table-striped">
      <thead class="text-primary">
      <th>Recruiter Name</th>
      <th>Job Title</th>
      <th>Actions</th>
      </thead>
      <tbody>
      <tr>
        <td><a href="#">Dakota Rice</a></td>
        <td>Niger</td>
        <td>
          <div class="dropdown">
            <a type="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Action</b>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-left" style="margin-right: -108px; margin-left: -108px;">
              <li>
                <a href="recruiter_profile.html">View More</a>
              </li>
              <li>
                <a href="#">Accept</a>
              </li>
              <li>
                <a href="#">Reject</a>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td><a href="#">Minerva</a></td>
        <td>Curaçao</td>
        <td>
          <div class="dropdown">
            <a type="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Action</b>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-left" style="margin-right: -108px; margin-left: -108px;">
              <li>
                <a href="#">View More</a>
              </li>
              <li>
                <a href="#">Accept</a>
              </li>
              <li>
                <a href="#">Reject</a>
            </ul>
          </div>
        </td>
      </tr>
      <tr>
        <td><a href="#">Sage</a></td>
        <td>Netherlands</td>
        <td>
          <div class="dropdown">
            <a type="button" href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Action</b>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-left" style="margin-right: -108px; margin-left: -108px;">
              <li>
                <a href="#">View More</a>
              </li>
              <li>
                <a href="#">Accept</a>
              </li>
              <li>
                <a href="#">Reject</a>
              </li>
            </ul>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>