<div class="content">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-md-6">
            <sm-latest-jobs></sm-latest-jobs>
            </div>
            <div class="col-md-6">
            <sm-latest-applications></sm-latest-applications>
            </div>
        </div>
        <br/>
        <div class="row">

            <div class="col-md-6">
                <sm-latest-engagements></sm-latest-engagements>
                </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">HR Updates </h4><!--
                                    <p class="category">Here is a subtitle for this table</p> -->
                </div>
                <div class="card-content">
                    <ul class="nav nav-pills nav-pills-primary">
                        <li class="active">
                            <a href="#pill1" data-toggle="tab">Blog</a>
                        </li>
                        <li>
                            <a href="#pill2" data-toggle="tab">Help & Search</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="pill1">
                            <div class="col-md-2">
                                <h5>Feb 09</h5>
                            </div>
                            <div class="col-md-8">
                                <h5>Two Weeks Until Launch</h5>
                                <h6>Collaboratively administrate empowered markets via plug-and-play networks.</h6>
                            </div>
                            <div class="col-md-2">
                                <a href="#"><b>View</b></a>
                            </div>
                        </div>
                        <div class="tab-pane" id="pill2">
                            Need a little help with your account? <br />
                            Check these videos to help you along...
                            <br />
                            <br />
                            <button class="btn btn-primary">Recruiter Demo</button>
                            <button class="btn btn-primary">Employer Demo</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>